@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

.font-size-h1 {
  font-size: 4rem; }

.font-size-h2 {
  font-size: 3rem; }

.font-size-h3 {
  font-size: 1.75rem; }

.font-size-h4 {
  font-size: 1.5rem; }

.font-size-h5 {
  font-size: 1.25rem; }

.font-size-h6 {
  font-size: 1rem; }

.font-size-2l {
  font-size: 4rem; }

.font-size-l {
  font-size: 2.25rem; }

.font-size-m {
  font-size: 2rem; }

.font-size-s {
  font-size: 0.875rem; }

.font-size-base {
  font-size: 1rem; }

@media (max-width: 992px) {
  .font-size-lg-h1 {
    font-size: 4rem; }
  .font-size-lg-h2 {
    font-size: 3rem; }
  .font-size-lg-h3 {
    font-size: 1.75rem; }
  .font-size-lg-h4 {
    font-size: 1.5rem; }
  .font-size-lg-h5 {
    font-size: 1.25rem; }
  .font-size-lg-h6 {
    font-size: 1rem; }
  .font-size-lg-2l {
    font-size: 4rem; }
  .font-size-lg-l {
    font-size: 2.25rem; }
  .font-size-lg-m {
    font-size: 2rem; }
  .font-size-lg-s {
    font-size: 0.875rem; }
  .font-size-lg-base {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .font-size-md-h1 {
    font-size: 4rem; }
  .font-size-md-h2 {
    font-size: 3rem; }
  .font-size-md-h3 {
    font-size: 1.75rem; }
  .font-size-md-h4 {
    font-size: 1.5rem; }
  .font-size-md-h5 {
    font-size: 1.25rem; }
  .font-size-md-h6 {
    font-size: 1rem; }
  .font-size-md-2l {
    font-size: 4rem; }
  .font-size-md-l {
    font-size: 2.25rem; }
  .font-size-md-m {
    font-size: 2rem; }
  .font-size-md-s {
    font-size: 0.875rem; }
  .font-size-md-base {
    font-size: 1rem; } }

@media (max-width: 576px) {
  .font-size-sm-h1 {
    font-size: 4rem; }
  .font-size-sm-h2 {
    font-size: 3rem; }
  .font-size-sm-h3 {
    font-size: 1.75rem; }
  .font-size-sm-h4 {
    font-size: 1.5rem; }
  .font-size-sm-h5 {
    font-size: 1.25rem; }
  .font-size-sm-h6 {
    font-size: 1rem; }
  .font-size-sm-2l {
    font-size: 4rem; }
  .font-size-sm-l {
    font-size: 2.25rem; }
  .font-size-sm-m {
    font-size: 2rem; }
  .font-size-sm-s {
    font-size: 0.875rem; }
  .font-size-sm-base {
    font-size: 1rem; } }

@media (max-width: 375px) {
  .font-size-xs-h1 {
    font-size: 4rem; }
  .font-size-xs-h2 {
    font-size: 3rem; }
  .font-size-xs-h3 {
    font-size: 1.75rem; }
  .font-size-xs-h4 {
    font-size: 1.5rem; }
  .font-size-xs-h5 {
    font-size: 1.25rem; }
  .font-size-xs-h6 {
    font-size: 1rem; }
  .font-size-xs-2l {
    font-size: 4rem; }
  .font-size-xs-l {
    font-size: 2.25rem; }
  .font-size-xs-m {
    font-size: 2rem; }
  .font-size-xs-s {
    font-size: 0.875rem; }
  .font-size-xs-base {
    font-size: 1rem; } }

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 690px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.no-gutter .col-auto, .no-gutter .col-lg-auto, .no-gutter .col-md-auto, .no-gutter .col-sm-auto, .no-gutter .col-xs-auto, .no-gutter .col-1, .no-gutter .col-2, .no-gutter .col-3, .no-gutter .col-4, .no-gutter .col-5, .no-gutter .col-6, .no-gutter .col-7, .no-gutter .col-8, .no-gutter .col-9, .no-gutter .col-10, .no-gutter .col-11, .no-gutter .col-12, .no-gutter .col-lg-1, .no-gutter .col-lg-2, .no-gutter .col-lg-3, .no-gutter .col-lg-4, .no-gutter .col-lg-5, .no-gutter .col-lg-6, .no-gutter .col-lg-7, .no-gutter .col-lg-8, .no-gutter .col-lg-9, .no-gutter .col-lg-10, .no-gutter .col-lg-11, .no-gutter .col-lg-12, .no-gutter .col-md-1, .no-gutter .col-md-2, .no-gutter .col-md-3, .no-gutter .col-md-4, .no-gutter .col-md-5, .no-gutter .col-md-6, .no-gutter .col-md-7, .no-gutter .col-md-8, .no-gutter .col-md-9, .no-gutter .col-md-10, .no-gutter .col-md-11, .no-gutter .col-md-12, .no-gutter .col-sm-1, .no-gutter .col-sm-2, .no-gutter .col-sm-3, .no-gutter .col-sm-4, .no-gutter .col-sm-5, .no-gutter .col-sm-6, .no-gutter .col-sm-7, .no-gutter .col-sm-8, .no-gutter .col-sm-9, .no-gutter .col-sm-10, .no-gutter .col-sm-11, .no-gutter .col-sm-12, .no-gutter .col-xs-1, .no-gutter .col-xs-2, .no-gutter .col-xs-3, .no-gutter .col-xs-4, .no-gutter .col-xs-5, .no-gutter .col-xs-6, .no-gutter .col-xs-7, .no-gutter .col-xs-8, .no-gutter .col-xs-9, .no-gutter .col-xs-10, .no-gutter .col-xs-11, .no-gutter .col-xs-12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

.no-gutter {
  margin: 0;
  padding: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto {
  padding: 0 15px;
  width: 100%; }

.col-1 {
  max-width: 8.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%; }

.col-2 {
  max-width: 16.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%; }

.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%; }

.col-4 {
  max-width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%; }

.col-5 {
  max-width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%; }

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.col-7 {
  max-width: 58.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%; }

.col-8 {
  max-width: 66.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%; }

.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%; }

.col-10 {
  max-width: 83.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%; }

.col-11 {
  max-width: 91.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%; }

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: auto;
  width: auto; }

@media (max-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-lg-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-lg-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-lg-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-lg-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-lg-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-lg-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-lg-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-lg-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-lg-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-lg-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; }
  .col-lg-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (max-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-md-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-md-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-md-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-md-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-md-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-md-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-md-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-md-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-md-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-md-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; }
  .col-md-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (max-width: 576px) {
  .col-sm-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-sm-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-sm-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-sm-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-sm-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-sm-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-sm-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-sm-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-sm-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-sm-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-sm-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; }
  .col-sm-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (max-width: 375px) {
  .col-xs-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-xs-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-xs-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-xs-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-xs-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-xs-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-xs-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-xs-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-xs-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-xs-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-xs-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; }
  .col-xs-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (max-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: auto;
    width: auto; } }

@media (max-width: 768px) {
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: auto;
    width: auto; } }

@media (max-width: 576px) {
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: auto;
    width: auto; } }

@media (max-width: 375px) {
  .col-xs-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: auto;
    width: auto; } }

@media (max-width: 576px) {
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }

.header {
  padding: 30px 88px; }
  .header__logo {
    width: 80px; }
    @media (max-width: 576px) {
      .header__logo {
        width: 48px;
        margin-top: 10px;
        margin-bottom: 10px; } }
  @media (max-width: 576px) {
    .header__nav {
      width: 100%; } }
  @media (max-width: 576px) {
    .header__nav__item {
      border: 1px solid #ffffff; } }
  @media (max-width: 576px) {
    .header__nav__link {
      padding: 8px 0; } }

.headerContainer {
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .headerContainer {
      max-width: 690px; } }
  @media (max-width: 576px) {
    .headerContainer {
      padding: 0;
      margin: 0;
      max-width: none; } }

.footer__socialList__img {
  width: 48px; }
  @media (max-width: 992px) {
    .footer__socialList__img {
      width: 24px; } }

.footer__contactList__item + .footer__contactList__item {
  margin-top: 30px; }
  @media (max-width: 992px) {
    .footer__contactList__item + .footer__contactList__item {
      margin-top: 12px; } }
  @media (max-width: 576px) {
    .footer__contactList__item + .footer__contactList__item {
      margin-top: 6px; } }

.footer__contactList__img {
  width: 36px; }
  @media (max-width: 992px) {
    .footer__contactList__img {
      width: 18px; } }
  @media (max-width: 576px) {
    .footer__contactList__img {
      width: 15px; } }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mx-20 {
  margin-right: 20px;
  margin-left: 20px; }

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.m-20 {
  margin: 20px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mx-30 {
  margin-right: 30px;
  margin-left: 30px; }

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-30 {
  margin: 30px; }

.ml-64 {
  margin-left: 64px; }

.mr-64 {
  margin-right: 64px; }

.mt-64 {
  margin-top: 64px; }

.mb-64 {
  margin-bottom: 64px; }

.mx-64 {
  margin-right: 64px;
  margin-left: 64px; }

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.m-64 {
  margin: 64px; }

.pl-30 {
  padding-left: 30px; }

.pr-30 {
  padding-right: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.px-30 {
  padding-right: 30px;
  padding-left: 30px; }

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-30 {
  padding: 30px; }

.pl-60 {
  padding-left: 60px; }

.pr-60 {
  padding-right: 60px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.px-60 {
  padding-right: 60px;
  padding-left: 60px; }

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.p-60 {
  padding: 60px; }

.pl-80 {
  padding-left: 80px; }

.pr-80 {
  padding-right: 80px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.px-80 {
  padding-right: 80px;
  padding-left: 80px; }

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.p-80 {
  padding: 80px; }

.pl-88 {
  padding-left: 88px; }

.pr-88 {
  padding-right: 88px; }

.pt-88 {
  padding-top: 88px; }

.pb-88 {
  padding-bottom: 88px; }

.px-88 {
  padding-right: 88px;
  padding-left: 88px; }

.py-88 {
  padding-top: 88px;
  padding-bottom: 88px; }

.p-88 {
  padding: 88px; }

.ml-0 {
  margin-left: 0px; }

.mr-0 {
  margin-right: 0px; }

.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.mx-0 {
  margin-right: 0px;
  margin-left: 0px; }

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.m-0 {
  margin: 0px; }

.ml-1 {
  margin-left: 8px; }

.mr-1 {
  margin-right: 8px; }

.mt-1 {
  margin-top: 8px; }

.mb-1 {
  margin-bottom: 8px; }

.mx-1 {
  margin-right: 8px;
  margin-left: 8px; }

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px; }

.m-1 {
  margin: 8px; }

.ml-2 {
  margin-left: 16px; }

.mr-2 {
  margin-right: 16px; }

.mt-2 {
  margin-top: 16px; }

.mb-2 {
  margin-bottom: 16px; }

.mx-2 {
  margin-right: 16px;
  margin-left: 16px; }

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px; }

.m-2 {
  margin: 16px; }

.ml-3 {
  margin-left: 24px; }

.mr-3 {
  margin-right: 24px; }

.mt-3 {
  margin-top: 24px; }

.mb-3 {
  margin-bottom: 24px; }

.mx-3 {
  margin-right: 24px;
  margin-left: 24px; }

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px; }

.m-3 {
  margin: 24px; }

.ml-4 {
  margin-left: 32px; }

.mr-4 {
  margin-right: 32px; }

.mt-4 {
  margin-top: 32px; }

.mb-4 {
  margin-bottom: 32px; }

.mx-4 {
  margin-right: 32px;
  margin-left: 32px; }

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px; }

.m-4 {
  margin: 32px; }

.ml-5 {
  margin-left: 40px; }

.mr-5 {
  margin-right: 40px; }

.mt-5 {
  margin-top: 40px; }

.mb-5 {
  margin-bottom: 40px; }

.mx-5 {
  margin-right: 40px;
  margin-left: 40px; }

.my-5 {
  margin-top: 40px;
  margin-bottom: 40px; }

.m-5 {
  margin: 40px; }

.ml-6 {
  margin-left: 48px; }

.mr-6 {
  margin-right: 48px; }

.mt-6 {
  margin-top: 48px; }

.mb-6 {
  margin-bottom: 48px; }

.mx-6 {
  margin-right: 48px;
  margin-left: 48px; }

.my-6 {
  margin-top: 48px;
  margin-bottom: 48px; }

.m-6 {
  margin: 48px; }

@media (max-width: 992px) {
  .ml-lg-0 {
    margin-left: 0px; }
  .mr-lg-0 {
    margin-right: 0px; }
  .mt-lg-0 {
    margin-top: 0px; }
  .mb-lg-0 {
    margin-bottom: 0px; }
  .mx-lg-0 {
    margin-right: 0px;
    margin-left: 0px; }
  .my-lg-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .m-lg-0 {
    margin: 0px; } }

@media (max-width: 992px) {
  .ml-lg-1 {
    margin-left: 8px; }
  .mr-lg-1 {
    margin-right: 8px; }
  .mt-lg-1 {
    margin-top: 8px; }
  .mb-lg-1 {
    margin-bottom: 8px; }
  .mx-lg-1 {
    margin-right: 8px;
    margin-left: 8px; }
  .my-lg-1 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .m-lg-1 {
    margin: 8px; } }

@media (max-width: 992px) {
  .ml-lg-2 {
    margin-left: 16px; }
  .mr-lg-2 {
    margin-right: 16px; }
  .mt-lg-2 {
    margin-top: 16px; }
  .mb-lg-2 {
    margin-bottom: 16px; }
  .mx-lg-2 {
    margin-right: 16px;
    margin-left: 16px; }
  .my-lg-2 {
    margin-top: 16px;
    margin-bottom: 16px; }
  .m-lg-2 {
    margin: 16px; } }

@media (max-width: 992px) {
  .ml-lg-3 {
    margin-left: 24px; }
  .mr-lg-3 {
    margin-right: 24px; }
  .mt-lg-3 {
    margin-top: 24px; }
  .mb-lg-3 {
    margin-bottom: 24px; }
  .mx-lg-3 {
    margin-right: 24px;
    margin-left: 24px; }
  .my-lg-3 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .m-lg-3 {
    margin: 24px; } }

@media (max-width: 992px) {
  .ml-lg-4 {
    margin-left: 32px; }
  .mr-lg-4 {
    margin-right: 32px; }
  .mt-lg-4 {
    margin-top: 32px; }
  .mb-lg-4 {
    margin-bottom: 32px; }
  .mx-lg-4 {
    margin-right: 32px;
    margin-left: 32px; }
  .my-lg-4 {
    margin-top: 32px;
    margin-bottom: 32px; }
  .m-lg-4 {
    margin: 32px; } }

@media (max-width: 992px) {
  .ml-lg-5 {
    margin-left: 40px; }
  .mr-lg-5 {
    margin-right: 40px; }
  .mt-lg-5 {
    margin-top: 40px; }
  .mb-lg-5 {
    margin-bottom: 40px; }
  .mx-lg-5 {
    margin-right: 40px;
    margin-left: 40px; }
  .my-lg-5 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .m-lg-5 {
    margin: 40px; } }

@media (max-width: 992px) {
  .ml-lg-6 {
    margin-left: 48px; }
  .mr-lg-6 {
    margin-right: 48px; }
  .mt-lg-6 {
    margin-top: 48px; }
  .mb-lg-6 {
    margin-bottom: 48px; }
  .mx-lg-6 {
    margin-right: 48px;
    margin-left: 48px; }
  .my-lg-6 {
    margin-top: 48px;
    margin-bottom: 48px; }
  .m-lg-6 {
    margin: 48px; } }

@media (max-width: 768px) {
  .ml-md-0 {
    margin-left: 0px; }
  .mr-md-0 {
    margin-right: 0px; }
  .mt-md-0 {
    margin-top: 0px; }
  .mb-md-0 {
    margin-bottom: 0px; }
  .mx-md-0 {
    margin-right: 0px;
    margin-left: 0px; }
  .my-md-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .m-md-0 {
    margin: 0px; } }

@media (max-width: 768px) {
  .ml-md-1 {
    margin-left: 8px; }
  .mr-md-1 {
    margin-right: 8px; }
  .mt-md-1 {
    margin-top: 8px; }
  .mb-md-1 {
    margin-bottom: 8px; }
  .mx-md-1 {
    margin-right: 8px;
    margin-left: 8px; }
  .my-md-1 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .m-md-1 {
    margin: 8px; } }

@media (max-width: 768px) {
  .ml-md-2 {
    margin-left: 16px; }
  .mr-md-2 {
    margin-right: 16px; }
  .mt-md-2 {
    margin-top: 16px; }
  .mb-md-2 {
    margin-bottom: 16px; }
  .mx-md-2 {
    margin-right: 16px;
    margin-left: 16px; }
  .my-md-2 {
    margin-top: 16px;
    margin-bottom: 16px; }
  .m-md-2 {
    margin: 16px; } }

@media (max-width: 768px) {
  .ml-md-3 {
    margin-left: 24px; }
  .mr-md-3 {
    margin-right: 24px; }
  .mt-md-3 {
    margin-top: 24px; }
  .mb-md-3 {
    margin-bottom: 24px; }
  .mx-md-3 {
    margin-right: 24px;
    margin-left: 24px; }
  .my-md-3 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .m-md-3 {
    margin: 24px; } }

@media (max-width: 768px) {
  .ml-md-4 {
    margin-left: 32px; }
  .mr-md-4 {
    margin-right: 32px; }
  .mt-md-4 {
    margin-top: 32px; }
  .mb-md-4 {
    margin-bottom: 32px; }
  .mx-md-4 {
    margin-right: 32px;
    margin-left: 32px; }
  .my-md-4 {
    margin-top: 32px;
    margin-bottom: 32px; }
  .m-md-4 {
    margin: 32px; } }

@media (max-width: 768px) {
  .ml-md-5 {
    margin-left: 40px; }
  .mr-md-5 {
    margin-right: 40px; }
  .mt-md-5 {
    margin-top: 40px; }
  .mb-md-5 {
    margin-bottom: 40px; }
  .mx-md-5 {
    margin-right: 40px;
    margin-left: 40px; }
  .my-md-5 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .m-md-5 {
    margin: 40px; } }

@media (max-width: 768px) {
  .ml-md-6 {
    margin-left: 48px; }
  .mr-md-6 {
    margin-right: 48px; }
  .mt-md-6 {
    margin-top: 48px; }
  .mb-md-6 {
    margin-bottom: 48px; }
  .mx-md-6 {
    margin-right: 48px;
    margin-left: 48px; }
  .my-md-6 {
    margin-top: 48px;
    margin-bottom: 48px; }
  .m-md-6 {
    margin: 48px; } }

@media (max-width: 576px) {
  .ml-sm-0 {
    margin-left: 0px; }
  .mr-sm-0 {
    margin-right: 0px; }
  .mt-sm-0 {
    margin-top: 0px; }
  .mb-sm-0 {
    margin-bottom: 0px; }
  .mx-sm-0 {
    margin-right: 0px;
    margin-left: 0px; }
  .my-sm-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .m-sm-0 {
    margin: 0px; } }

@media (max-width: 576px) {
  .ml-sm-1 {
    margin-left: 8px; }
  .mr-sm-1 {
    margin-right: 8px; }
  .mt-sm-1 {
    margin-top: 8px; }
  .mb-sm-1 {
    margin-bottom: 8px; }
  .mx-sm-1 {
    margin-right: 8px;
    margin-left: 8px; }
  .my-sm-1 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .m-sm-1 {
    margin: 8px; } }

@media (max-width: 576px) {
  .ml-sm-2 {
    margin-left: 16px; }
  .mr-sm-2 {
    margin-right: 16px; }
  .mt-sm-2 {
    margin-top: 16px; }
  .mb-sm-2 {
    margin-bottom: 16px; }
  .mx-sm-2 {
    margin-right: 16px;
    margin-left: 16px; }
  .my-sm-2 {
    margin-top: 16px;
    margin-bottom: 16px; }
  .m-sm-2 {
    margin: 16px; } }

@media (max-width: 576px) {
  .ml-sm-3 {
    margin-left: 24px; }
  .mr-sm-3 {
    margin-right: 24px; }
  .mt-sm-3 {
    margin-top: 24px; }
  .mb-sm-3 {
    margin-bottom: 24px; }
  .mx-sm-3 {
    margin-right: 24px;
    margin-left: 24px; }
  .my-sm-3 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .m-sm-3 {
    margin: 24px; } }

@media (max-width: 576px) {
  .ml-sm-4 {
    margin-left: 32px; }
  .mr-sm-4 {
    margin-right: 32px; }
  .mt-sm-4 {
    margin-top: 32px; }
  .mb-sm-4 {
    margin-bottom: 32px; }
  .mx-sm-4 {
    margin-right: 32px;
    margin-left: 32px; }
  .my-sm-4 {
    margin-top: 32px;
    margin-bottom: 32px; }
  .m-sm-4 {
    margin: 32px; } }

@media (max-width: 576px) {
  .ml-sm-5 {
    margin-left: 40px; }
  .mr-sm-5 {
    margin-right: 40px; }
  .mt-sm-5 {
    margin-top: 40px; }
  .mb-sm-5 {
    margin-bottom: 40px; }
  .mx-sm-5 {
    margin-right: 40px;
    margin-left: 40px; }
  .my-sm-5 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .m-sm-5 {
    margin: 40px; } }

@media (max-width: 576px) {
  .ml-sm-6 {
    margin-left: 48px; }
  .mr-sm-6 {
    margin-right: 48px; }
  .mt-sm-6 {
    margin-top: 48px; }
  .mb-sm-6 {
    margin-bottom: 48px; }
  .mx-sm-6 {
    margin-right: 48px;
    margin-left: 48px; }
  .my-sm-6 {
    margin-top: 48px;
    margin-bottom: 48px; }
  .m-sm-6 {
    margin: 48px; } }

@media (max-width: 375px) {
  .ml-xs-0 {
    margin-left: 0px; }
  .mr-xs-0 {
    margin-right: 0px; }
  .mt-xs-0 {
    margin-top: 0px; }
  .mb-xs-0 {
    margin-bottom: 0px; }
  .mx-xs-0 {
    margin-right: 0px;
    margin-left: 0px; }
  .my-xs-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .m-xs-0 {
    margin: 0px; } }

@media (max-width: 375px) {
  .ml-xs-1 {
    margin-left: 8px; }
  .mr-xs-1 {
    margin-right: 8px; }
  .mt-xs-1 {
    margin-top: 8px; }
  .mb-xs-1 {
    margin-bottom: 8px; }
  .mx-xs-1 {
    margin-right: 8px;
    margin-left: 8px; }
  .my-xs-1 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .m-xs-1 {
    margin: 8px; } }

@media (max-width: 375px) {
  .ml-xs-2 {
    margin-left: 16px; }
  .mr-xs-2 {
    margin-right: 16px; }
  .mt-xs-2 {
    margin-top: 16px; }
  .mb-xs-2 {
    margin-bottom: 16px; }
  .mx-xs-2 {
    margin-right: 16px;
    margin-left: 16px; }
  .my-xs-2 {
    margin-top: 16px;
    margin-bottom: 16px; }
  .m-xs-2 {
    margin: 16px; } }

@media (max-width: 375px) {
  .ml-xs-3 {
    margin-left: 24px; }
  .mr-xs-3 {
    margin-right: 24px; }
  .mt-xs-3 {
    margin-top: 24px; }
  .mb-xs-3 {
    margin-bottom: 24px; }
  .mx-xs-3 {
    margin-right: 24px;
    margin-left: 24px; }
  .my-xs-3 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .m-xs-3 {
    margin: 24px; } }

@media (max-width: 375px) {
  .ml-xs-4 {
    margin-left: 32px; }
  .mr-xs-4 {
    margin-right: 32px; }
  .mt-xs-4 {
    margin-top: 32px; }
  .mb-xs-4 {
    margin-bottom: 32px; }
  .mx-xs-4 {
    margin-right: 32px;
    margin-left: 32px; }
  .my-xs-4 {
    margin-top: 32px;
    margin-bottom: 32px; }
  .m-xs-4 {
    margin: 32px; } }

@media (max-width: 375px) {
  .ml-xs-5 {
    margin-left: 40px; }
  .mr-xs-5 {
    margin-right: 40px; }
  .mt-xs-5 {
    margin-top: 40px; }
  .mb-xs-5 {
    margin-bottom: 40px; }
  .mx-xs-5 {
    margin-right: 40px;
    margin-left: 40px; }
  .my-xs-5 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .m-xs-5 {
    margin: 40px; } }

@media (max-width: 375px) {
  .ml-xs-6 {
    margin-left: 48px; }
  .mr-xs-6 {
    margin-right: 48px; }
  .mt-xs-6 {
    margin-top: 48px; }
  .mb-xs-6 {
    margin-bottom: 48px; }
  .mx-xs-6 {
    margin-right: 48px;
    margin-left: 48px; }
  .my-xs-6 {
    margin-top: 48px;
    margin-bottom: 48px; }
  .m-xs-6 {
    margin: 48px; } }

.pl-0 {
  padding-left: 0px; }

.pr-0 {
  padding-right: 0px; }

.pt-0 {
  padding-top: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.px-0 {
  padding-right: 0px;
  padding-left: 0px; }

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.p-0 {
  padding: 0px; }

.pl-1 {
  padding-left: 8px; }

.pr-1 {
  padding-right: 8px; }

.pt-1 {
  padding-top: 8px; }

.pb-1 {
  padding-bottom: 8px; }

.px-1 {
  padding-right: 8px;
  padding-left: 8px; }

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px; }

.p-1 {
  padding: 8px; }

.pl-2 {
  padding-left: 16px; }

.pr-2 {
  padding-right: 16px; }

.pt-2 {
  padding-top: 16px; }

.pb-2 {
  padding-bottom: 16px; }

.px-2 {
  padding-right: 16px;
  padding-left: 16px; }

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.p-2 {
  padding: 16px; }

.pl-3 {
  padding-left: 24px; }

.pr-3 {
  padding-right: 24px; }

.pt-3 {
  padding-top: 24px; }

.pb-3 {
  padding-bottom: 24px; }

.px-3 {
  padding-right: 24px;
  padding-left: 24px; }

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px; }

.p-3 {
  padding: 24px; }

.pl-4 {
  padding-left: 32px; }

.pr-4 {
  padding-right: 32px; }

.pt-4 {
  padding-top: 32px; }

.pb-4 {
  padding-bottom: 32px; }

.px-4 {
  padding-right: 32px;
  padding-left: 32px; }

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px; }

.p-4 {
  padding: 32px; }

.pl-5 {
  padding-left: 40px; }

.pr-5 {
  padding-right: 40px; }

.pt-5 {
  padding-top: 40px; }

.pb-5 {
  padding-bottom: 40px; }

.px-5 {
  padding-right: 40px;
  padding-left: 40px; }

.py-5 {
  padding-top: 40px;
  padding-bottom: 40px; }

.p-5 {
  padding: 40px; }

.pl-6 {
  padding-left: 48px; }

.pr-6 {
  padding-right: 48px; }

.pt-6 {
  padding-top: 48px; }

.pb-6 {
  padding-bottom: 48px; }

.px-6 {
  padding-right: 48px;
  padding-left: 48px; }

.py-6 {
  padding-top: 48px;
  padding-bottom: 48px; }

.p-6 {
  padding: 48px; }

@media (max-width: 992px) {
  .pl-lg-0 {
    padding-left: 0px; }
  .pr-lg-0 {
    padding-right: 0px; }
  .pt-lg-0 {
    padding-top: 0px; }
  .pb-lg-0 {
    padding-bottom: 0px; }
  .px-lg-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .py-lg-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .p-lg-0 {
    padding: 0px; } }

@media (max-width: 992px) {
  .pl-lg-1 {
    padding-left: 8px; }
  .pr-lg-1 {
    padding-right: 8px; }
  .pt-lg-1 {
    padding-top: 8px; }
  .pb-lg-1 {
    padding-bottom: 8px; }
  .px-lg-1 {
    padding-right: 8px;
    padding-left: 8px; }
  .py-lg-1 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .p-lg-1 {
    padding: 8px; } }

@media (max-width: 992px) {
  .pl-lg-2 {
    padding-left: 16px; }
  .pr-lg-2 {
    padding-right: 16px; }
  .pt-lg-2 {
    padding-top: 16px; }
  .pb-lg-2 {
    padding-bottom: 16px; }
  .px-lg-2 {
    padding-right: 16px;
    padding-left: 16px; }
  .py-lg-2 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .p-lg-2 {
    padding: 16px; } }

@media (max-width: 992px) {
  .pl-lg-3 {
    padding-left: 24px; }
  .pr-lg-3 {
    padding-right: 24px; }
  .pt-lg-3 {
    padding-top: 24px; }
  .pb-lg-3 {
    padding-bottom: 24px; }
  .px-lg-3 {
    padding-right: 24px;
    padding-left: 24px; }
  .py-lg-3 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .p-lg-3 {
    padding: 24px; } }

@media (max-width: 992px) {
  .pl-lg-4 {
    padding-left: 32px; }
  .pr-lg-4 {
    padding-right: 32px; }
  .pt-lg-4 {
    padding-top: 32px; }
  .pb-lg-4 {
    padding-bottom: 32px; }
  .px-lg-4 {
    padding-right: 32px;
    padding-left: 32px; }
  .py-lg-4 {
    padding-top: 32px;
    padding-bottom: 32px; }
  .p-lg-4 {
    padding: 32px; } }

@media (max-width: 992px) {
  .pl-lg-5 {
    padding-left: 40px; }
  .pr-lg-5 {
    padding-right: 40px; }
  .pt-lg-5 {
    padding-top: 40px; }
  .pb-lg-5 {
    padding-bottom: 40px; }
  .px-lg-5 {
    padding-right: 40px;
    padding-left: 40px; }
  .py-lg-5 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .p-lg-5 {
    padding: 40px; } }

@media (max-width: 992px) {
  .pl-lg-6 {
    padding-left: 48px; }
  .pr-lg-6 {
    padding-right: 48px; }
  .pt-lg-6 {
    padding-top: 48px; }
  .pb-lg-6 {
    padding-bottom: 48px; }
  .px-lg-6 {
    padding-right: 48px;
    padding-left: 48px; }
  .py-lg-6 {
    padding-top: 48px;
    padding-bottom: 48px; }
  .p-lg-6 {
    padding: 48px; } }

@media (max-width: 768px) {
  .pl-md-0 {
    padding-left: 0px; }
  .pr-md-0 {
    padding-right: 0px; }
  .pt-md-0 {
    padding-top: 0px; }
  .pb-md-0 {
    padding-bottom: 0px; }
  .px-md-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .py-md-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .p-md-0 {
    padding: 0px; } }

@media (max-width: 768px) {
  .pl-md-1 {
    padding-left: 8px; }
  .pr-md-1 {
    padding-right: 8px; }
  .pt-md-1 {
    padding-top: 8px; }
  .pb-md-1 {
    padding-bottom: 8px; }
  .px-md-1 {
    padding-right: 8px;
    padding-left: 8px; }
  .py-md-1 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .p-md-1 {
    padding: 8px; } }

@media (max-width: 768px) {
  .pl-md-2 {
    padding-left: 16px; }
  .pr-md-2 {
    padding-right: 16px; }
  .pt-md-2 {
    padding-top: 16px; }
  .pb-md-2 {
    padding-bottom: 16px; }
  .px-md-2 {
    padding-right: 16px;
    padding-left: 16px; }
  .py-md-2 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .p-md-2 {
    padding: 16px; } }

@media (max-width: 768px) {
  .pl-md-3 {
    padding-left: 24px; }
  .pr-md-3 {
    padding-right: 24px; }
  .pt-md-3 {
    padding-top: 24px; }
  .pb-md-3 {
    padding-bottom: 24px; }
  .px-md-3 {
    padding-right: 24px;
    padding-left: 24px; }
  .py-md-3 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .p-md-3 {
    padding: 24px; } }

@media (max-width: 768px) {
  .pl-md-4 {
    padding-left: 32px; }
  .pr-md-4 {
    padding-right: 32px; }
  .pt-md-4 {
    padding-top: 32px; }
  .pb-md-4 {
    padding-bottom: 32px; }
  .px-md-4 {
    padding-right: 32px;
    padding-left: 32px; }
  .py-md-4 {
    padding-top: 32px;
    padding-bottom: 32px; }
  .p-md-4 {
    padding: 32px; } }

@media (max-width: 768px) {
  .pl-md-5 {
    padding-left: 40px; }
  .pr-md-5 {
    padding-right: 40px; }
  .pt-md-5 {
    padding-top: 40px; }
  .pb-md-5 {
    padding-bottom: 40px; }
  .px-md-5 {
    padding-right: 40px;
    padding-left: 40px; }
  .py-md-5 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .p-md-5 {
    padding: 40px; } }

@media (max-width: 768px) {
  .pl-md-6 {
    padding-left: 48px; }
  .pr-md-6 {
    padding-right: 48px; }
  .pt-md-6 {
    padding-top: 48px; }
  .pb-md-6 {
    padding-bottom: 48px; }
  .px-md-6 {
    padding-right: 48px;
    padding-left: 48px; }
  .py-md-6 {
    padding-top: 48px;
    padding-bottom: 48px; }
  .p-md-6 {
    padding: 48px; } }

@media (max-width: 576px) {
  .pl-sm-0 {
    padding-left: 0px; }
  .pr-sm-0 {
    padding-right: 0px; }
  .pt-sm-0 {
    padding-top: 0px; }
  .pb-sm-0 {
    padding-bottom: 0px; }
  .px-sm-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .py-sm-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .p-sm-0 {
    padding: 0px; } }

@media (max-width: 576px) {
  .pl-sm-1 {
    padding-left: 8px; }
  .pr-sm-1 {
    padding-right: 8px; }
  .pt-sm-1 {
    padding-top: 8px; }
  .pb-sm-1 {
    padding-bottom: 8px; }
  .px-sm-1 {
    padding-right: 8px;
    padding-left: 8px; }
  .py-sm-1 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .p-sm-1 {
    padding: 8px; } }

@media (max-width: 576px) {
  .pl-sm-2 {
    padding-left: 16px; }
  .pr-sm-2 {
    padding-right: 16px; }
  .pt-sm-2 {
    padding-top: 16px; }
  .pb-sm-2 {
    padding-bottom: 16px; }
  .px-sm-2 {
    padding-right: 16px;
    padding-left: 16px; }
  .py-sm-2 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .p-sm-2 {
    padding: 16px; } }

@media (max-width: 576px) {
  .pl-sm-3 {
    padding-left: 24px; }
  .pr-sm-3 {
    padding-right: 24px; }
  .pt-sm-3 {
    padding-top: 24px; }
  .pb-sm-3 {
    padding-bottom: 24px; }
  .px-sm-3 {
    padding-right: 24px;
    padding-left: 24px; }
  .py-sm-3 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .p-sm-3 {
    padding: 24px; } }

@media (max-width: 576px) {
  .pl-sm-4 {
    padding-left: 32px; }
  .pr-sm-4 {
    padding-right: 32px; }
  .pt-sm-4 {
    padding-top: 32px; }
  .pb-sm-4 {
    padding-bottom: 32px; }
  .px-sm-4 {
    padding-right: 32px;
    padding-left: 32px; }
  .py-sm-4 {
    padding-top: 32px;
    padding-bottom: 32px; }
  .p-sm-4 {
    padding: 32px; } }

@media (max-width: 576px) {
  .pl-sm-5 {
    padding-left: 40px; }
  .pr-sm-5 {
    padding-right: 40px; }
  .pt-sm-5 {
    padding-top: 40px; }
  .pb-sm-5 {
    padding-bottom: 40px; }
  .px-sm-5 {
    padding-right: 40px;
    padding-left: 40px; }
  .py-sm-5 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .p-sm-5 {
    padding: 40px; } }

@media (max-width: 576px) {
  .pl-sm-6 {
    padding-left: 48px; }
  .pr-sm-6 {
    padding-right: 48px; }
  .pt-sm-6 {
    padding-top: 48px; }
  .pb-sm-6 {
    padding-bottom: 48px; }
  .px-sm-6 {
    padding-right: 48px;
    padding-left: 48px; }
  .py-sm-6 {
    padding-top: 48px;
    padding-bottom: 48px; }
  .p-sm-6 {
    padding: 48px; } }

@media (max-width: 375px) {
  .pl-xs-0 {
    padding-left: 0px; }
  .pr-xs-0 {
    padding-right: 0px; }
  .pt-xs-0 {
    padding-top: 0px; }
  .pb-xs-0 {
    padding-bottom: 0px; }
  .px-xs-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .py-xs-0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .p-xs-0 {
    padding: 0px; } }

@media (max-width: 375px) {
  .pl-xs-1 {
    padding-left: 8px; }
  .pr-xs-1 {
    padding-right: 8px; }
  .pt-xs-1 {
    padding-top: 8px; }
  .pb-xs-1 {
    padding-bottom: 8px; }
  .px-xs-1 {
    padding-right: 8px;
    padding-left: 8px; }
  .py-xs-1 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .p-xs-1 {
    padding: 8px; } }

@media (max-width: 375px) {
  .pl-xs-2 {
    padding-left: 16px; }
  .pr-xs-2 {
    padding-right: 16px; }
  .pt-xs-2 {
    padding-top: 16px; }
  .pb-xs-2 {
    padding-bottom: 16px; }
  .px-xs-2 {
    padding-right: 16px;
    padding-left: 16px; }
  .py-xs-2 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .p-xs-2 {
    padding: 16px; } }

@media (max-width: 375px) {
  .pl-xs-3 {
    padding-left: 24px; }
  .pr-xs-3 {
    padding-right: 24px; }
  .pt-xs-3 {
    padding-top: 24px; }
  .pb-xs-3 {
    padding-bottom: 24px; }
  .px-xs-3 {
    padding-right: 24px;
    padding-left: 24px; }
  .py-xs-3 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .p-xs-3 {
    padding: 24px; } }

@media (max-width: 375px) {
  .pl-xs-4 {
    padding-left: 32px; }
  .pr-xs-4 {
    padding-right: 32px; }
  .pt-xs-4 {
    padding-top: 32px; }
  .pb-xs-4 {
    padding-bottom: 32px; }
  .px-xs-4 {
    padding-right: 32px;
    padding-left: 32px; }
  .py-xs-4 {
    padding-top: 32px;
    padding-bottom: 32px; }
  .p-xs-4 {
    padding: 32px; } }

@media (max-width: 375px) {
  .pl-xs-5 {
    padding-left: 40px; }
  .pr-xs-5 {
    padding-right: 40px; }
  .pt-xs-5 {
    padding-top: 40px; }
  .pb-xs-5 {
    padding-bottom: 40px; }
  .px-xs-5 {
    padding-right: 40px;
    padding-left: 40px; }
  .py-xs-5 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .p-xs-5 {
    padding: 40px; } }

@media (max-width: 375px) {
  .pl-xs-6 {
    padding-left: 48px; }
  .pr-xs-6 {
    padding-right: 48px; }
  .pt-xs-6 {
    padding-top: 48px; }
  .pb-xs-6 {
    padding-bottom: 48px; }
  .px-xs-6 {
    padding-right: 48px;
    padding-left: 48px; }
  .py-xs-6 {
    padding-top: 48px;
    padding-bottom: 48px; }
  .p-xs-6 {
    padding: 48px; } }

.text-primary {
  color: #aa0601; }

.bg-primary {
  background-color: #aa0601; }

.border-primary {
  border-color: #aa0601; }

.text-secondary {
  color: #650300; }

.bg-secondary {
  background-color: #650300; }

.border-secondary {
  border-color: #650300; }

.text-success {
  color: #aa06010d; }

.bg-success {
  background-color: #aa06010d; }

.border-success {
  border-color: #aa06010d; }

.text-light {
  color: #ffffff; }

.bg-light {
  background-color: #ffffff; }

.border-light {
  border-color: #ffffff; }

.text-dark {
  color: #000000; }

.bg-dark {
  background-color: #000000; }

.border-dark {
  border-color: #000000; }

.text-gray {
  color: #707070; }

.bg-gray {
  background-color: #707070; }

.border-gray {
  border-color: #707070; }

.text-gray-dark {
  color: #212529; }

.bg-gray-dark {
  background-color: #212529; }

.border-gray-dark {
  border-color: #212529; }

.font-weight-base {
  font-weight: 400; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-black {
  font-weight: 900; }

.w-25 {
  width: 25%; }

.w-50 {
  width: 50%; }

.w-75 {
  width: 75%; }

.w-100 {
  width: 100%; }

.w-auto {
  width: auto; }

@media (max-width: 768px) {
  .w-md-50 {
    width: 50%; } }

.h-25 {
  height: 25%; }

.h-50 {
  height: 50%; }

.h-75 {
  height: 75%; }

.h-100 {
  height: 100%; }

.h-auto {
  height: auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-block {
  display: block; }

@media (max-width: 576px) {
  .d-sm-none {
    display: none; } }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (max-width: 768px) {
  .flex-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (max-width: 576px) {
  .justify-content-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media (max-width: 576px) {
  .text-sm-center {
    text-align: center; } }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.font-italic {
  font-style: italic; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.text-uppercase {
  text-transform: uppercase; }

.brightness-effect {
  position: relative; }
  .brightness-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0.5;
    width: 100%;
    height: 100%; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media (max-width: 576px) {
  .position-sm-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

.border {
  border: 1px solid #ffffff; }

.border-top {
  border-top: 1px solid #ffffff; }

.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center; }
  .banner__content {
    height: 840px; }
    @media (max-width: 576px) {
      .banner__content {
        height: 394px; } }

.info__list__item {
  max-width: 255px;
  margin-left: auto;
  margin-right: auto; }

.info__list__img {
  width: 100px;
  height: 100px; }

.classic__list__icon {
  width: 44px; }
  @media (max-width: 768px) {
    .classic__list__icon {
      width: 36px; } }

.co-branding {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center; }

.comment__list__item {
  min-height: 460px; }

.commentCard {
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .commentCard__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px; }

.contact__form__label {
  margin-bottom: 4px; }

.contact__form__input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid #000000;
  background-color: transparent; }
  @media (max-width: 768px) {
    .contact__form__input {
      padding: 8px 12px; } }

.contact__form__btn {
  padding: 16px 143px;
  cursor: pointer;
  border: none; }
  @media (max-width: 768px) {
    .contact__form__btn {
      padding: 10px 77px; } }
  @media (max-width: 576px) {
    .contact__form__btn {
      padding: 8px 54.5px; } }

/*# sourceMappingURL=all.css.map */
