*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
