.blogNav {
  &__list {
    &__link {
      padding: 12px 0;
      @include {
        padding: 16px 0;
      }
    }
    &__search {
      width: 30px;
      cursor: pointer;
    }
  }
}

.blog {
  margin-bottom: 160px;
  @include pad {
    margin-bottom: 96px;
  }
  @include mobile {
    margin-bottom: 56px;
  }
}
