*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
}

@each $key, $size in $font-sizes {
  .font-size-#{$key} {
    font-size: $size;
  }
}
@each $infix, $max-width in $grid-breakpoints-infix {
  @media (max-width: $max-width) {
    @each $key, $size in $font-sizes {
      .font-size-#{$infix}-#{$key} {
        font-size: $size;
      }
    }
  }
}
