//custom margin size
@each $key, $size in $custom-margin-space {
  @include make-margin-space($key, $size);
}
//custom margin size
@each $key, $size in $custom-padding-space {
  @include make-padding-space($key, $size);
}
//margin, m-*,mt-*,mb-*,ml-*,mr-*,mx-*,my-*
@for $i from 0 through 12 {
  @include make-margin-space($i, $i * $space);
}

@each $infix, $max-width in $grid-breakpoints-infix {
  @for $i from 0 through 12 {
    @media (max-width: $max-width) {
      @include make-margin-space(#{$infix + "-" + $i}, $i * $space);
    }
  }
}

//padding, p-*,pt-*,pb-*,pl-*,pr-*,px-*,py-*
@for $i from 0 through 12 {
  @include make-padding-space($i, $i * $space);
}
@each $infix, $max-width in $grid-breakpoints-infix {
  @for $i from 0 through 12 {
    @media (max-width: $max-width) {
      @include make-padding-space(#{$infix + "-" + $i}, $i * $space);
    }
  }
}

//border
.border {
  border: 1px solid $white;
}
.border-top {
  border-top: 1px solid $white;
}
.border-bottom {
  border-bottom: 1px solid $white;
}

.border-left {
  border-left: 1px solid $white;
}

.border-right {
  border-right: 1px solid $white;
}
.border-none {
  border: none;
}
.border-radius {
  border-radius: 4px;
}
.border-l {
  border-width: 8px;
}
//color, bg-*,text-*,border-*
@include make-theme-colors($theme-colors);
//font-weight, font-weight-*
@include make-font-weights($font-weights);
//width, w-*
@each $key, $value in $widths {
  .w-#{$key} {
    width: $value;
  }
}
.w-md-50 {
  @include pad {
    width: 50%;
  }
}
//height, h-*
@each $key, $value in $heights {
  .h-#{$key} {
    height: $value;
  }
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}
@include desktop {
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-none {
    display: none;
  }
}
@include pad {
  .d-md-none {
    display: none;
  }
}
@include mobile {
  .d-sm-block {
    display: block;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-none {
    display: none;
  }
}
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-md-row {
  @include pad() {
    flex-direction: row;
  }
}

@include mobile() {
  .justify-content-sm-center {
    justify-content: center;
  }
  .justify-content-sm-between {
    justify-content: space-between;
  }
  .flex-sm-column {
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.font-italic {
  font-style: italic;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.text-uppercase {
  text-transform: uppercase;
}
.object-cover {
  object-fit: cover;
}

.brightness-effect {
  @include image-filter(#ffffff, 0.5);
}
.position-center {
  @include position-center;
}

@include mobile {
  .position-sm-center {
    @include position-center;
  }
}
.line-height-normal {
  line-height: $line-height-base;
}
.line-height-s {
  line-height: $line-height-s;
}
.line-height-l {
  line-height: $line-height-l;
}
.line-height-xl {
  line-height: $line-height-xl;
}
@include mobile {
  .line-height-sm-normal {
    line-height: $line-height-base;
  }
}
.opacity-60 {
  opacity: 0.6;
}
//font

@each $key, $size in $font-sizes {
  .font-size-#{$key} {
    font-size: $size;
  }
}
@each $infix, $max-width in $grid-breakpoints-infix {
  @media (max-width: $max-width) {
    @each $key, $size in $font-sizes {
      .font-size-#{$infix}-#{$key} {
        font-size: $size;
      }
    }
  }
}
