.footer {
  &__socialList {
    &__img {
      width: 48px;
      @include desktop {
        width: 24px;
      }
    }
  }
  &__contactList {
    &__item {
      & + & {
        margin-top: 30px;
        @include desktop {
          margin-top: 12px;
        }
        @include mobile {
          margin-top: 6px;
        }
      }
    }
    &__img {
      width: 36px;
      @include desktop {
        width: 18px;
      }
      @include mobile {
        width: 15px;
      }
    }
  }
 
}
