@import "reset";

img {
  vertical-align: middle;
}
.container {
  width: 640px;
  margin: 0 auto;
}

.content {
  display: flex;
  margin-bottom: 24px;
}

.news {
  margin-right: 20px;
  &__item {
    display: flex;
    & + & {
      margin-top: 24px;
    }
    &__content {
      h2 {
        font-size: 20px;
        line-height: 1.2;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
.footer {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 48px;
  padding-bottom: 48px;
}
